<?php  echo $header; ?>
<div class="row" style="margin-left: 15px;margin-right: 15px">
    <div id="container">
        <h1><?=$heading_title;?></h1>
        <div class="col-sm-12" style="padding: 0">
            <div class="col-lg-8 col-xs-12 about-icon" style="padding: 0">
                <p>Наш Интернет магазин - это возможность приобрести отделочные материалы и товары для ремонта в одном месте.</p>
                <p>Наш сайт – это on-line представительство сети магазинов «Vsyaotdelka», который является быстрорастущим каналом розничных продаж.</p>
                <p>«Vsyaotdelka» - сеть магазинов мультиканальных продаж, в которых покупки осуществляются с помощью современных технологий и высококвалифицированных сотрудников. К вашим услугам розничные магазины и пункты выдачи по всей России, интернет-сайт, call-центр.</p>
                <p>Работая с нами, Вы всегда можете быть уверены в грамотном и вежливом обслуживании, быстроте и точности исполнения заказов, высоком качестве продукции. Мы будем рады видеть Вас в наших магазинах.</p>
            </div>
            <div class="col-lg-3 col-sm-offset-1 hidden-md hidden-sm hidden-xs" style="padding: 35px 0 0 0">
                <div class="big-letter">5</div>
                <div class="small-letter">лет<br> на рынке</div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12">
            <div class="col-sm-3 about-item" style="margin-top: 45px;">
                <img src="/image/catalog/about_us/about1.png" alt="">
                <div class="item-head">Удобная доставка </div>
                <p>Заказы выполняются в течение 1-3 дней: мы ценим время наших покупателей и стараемся работать быстро.</p>
            </div>
            <div class="col-sm-3 about-item" style="margin-top: 45px;">
                <img src="/image/catalog/about_us/about2.png" alt="">
                <div class="item-head">Огромный выбор</div>
                <p>Онлайн-каталог, в котором собрано более 10 000 наименований товаров от ведущих производителей.</p>
            </div>
            <div class="col-sm-3 about-item" style="margin-top: 45px;">
                <img src="/image/catalog/about_us/about3.png" alt="">
                <div class="item-head">Наши магазины</div>
                <p>Онлайн-каталог, в котором собрано более 10 000 наименований товаров от ведущих производителей.</p>
            </div>
            <div class="col-sm-3 about-item" style="margin-top: 45px;">
                <img src="/image/catalog/about_us/about4.png" alt="">
                <div class="item-head">Доступность</div>
                <p>Возможность выбрать, оплатить и получить товар в любом розничном магазине нашей сети,  в пункте выдачи или доставкой до вашего подъезда.</p>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12 about-bg">
            <p>На страницах нашего сайта представлен большой выбор обоев и материалов для оформления интерьера. У нас Вы найдете все виды обоев: бумажные, виниловые, флизелиновые, а так же детские, подростковые коллекции, бордюры, обои под покраску, а так же фотообои и декоративные стикеры.</p>
            <p>Мы предлагаем продукцию лучших европейских производителей: Англия, Бельгия, Германия, Голландия, Италия и Франция. У нас представлено множество коллекций Украинских фабрик. Таким образом, в нашем Интрнет-магазине вы сможете подобрать оптимальное решение при любом бюджете и любых требования к характеристикам, дизайну, материалам, из которых изготовлены обои.</p>
            <p>Удобный он-лайн каталог позволит Вам ознакомиться с представленными у нас коллекциями обоев, выбрать нужный цвет, дизайн, а так же облегчит реализацию ваших дизайнерских идей с помощью комбинирования обоев с разными дизайнами.</p>
        </div>
    </div>
</div>
<?php echo $footer; ?>
